.homeHtml{
    margin-left: -220px;
    margin-top: -20px;
}

.subT{
    font-size:x-large;
    margin-left: -12px;
    width: auto;
}

@media screen and (max-width: 512px) {
    .subT {
        font-size:larger; 
        margin-left: 28px;
    }
}

@media screen and (max-width: 400px) {
    .subT {
        font-size:16px; 
        margin-left: 62px;
    }
}